.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

.MuiInputBase-input {
  font-size: 1.4vw !important;
  color: #f2f2f2 !important;
}

.MuiInputLabel-formControl {
  font-size: 1.4vw !important;
  color: #f2f2f2 !important;
}

.MuiFormHelperText-root {
  font-size: 1vw !important;
  color: white !important;
}

.MuiSelect-select.MuiSelect-select {
  padding-right: 1vw !important;
  text-align: left !important;
}
.Mui-focused {
  color: #ceb180 !important;
}
.MuiInput-underline:after {
  border-bottom: 2px solid #ceb180 !important;
  border-bottom-color: #ceb180 !important;
}
.Mui-error.MuiInput-underline:after {
  border-bottom: 2px solid #f4132c !important;
  border-bottom-color: #f4132c !important;
}
.MuiInput-underline::before {
  /* border-bottom: white !important; */
  border-bottom-color: white !important;
}

.MuiButton-outlined {
  border: 1px solid #f2f2f2 !important;
  padding: 0.8vw 3vw !important;
}

.MuiButton-label {
  color: #f2f2f2;
  font-size: 1.2vw;
}

a {
  color: #203904;
}

h4 {
  margin-top: 1.5vw;
  margin-bottom: 0vw;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
